/* style.css */

/* Set inspiring background color */
body {
  background-color: #f8f9fa; /* Light grayish blue color */
}

/* Change text family */
body,
.navbar-brand,
.navbar-nav .nav-link,
.jumbotron,
.jumbotron h1,
.jumbotron p,
#about,
#about h2,
#about p,
#portfolio,
#portfolio h2,
#portfolio p,
#contact,
#contact h2,
#contact p,
#contact .form-control::placeholder,
#contact .btn-primary,
footer,
footer p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Change font family */
}


#navbarNav{
  display: flex;
  flex-direction: row;
  gap:20px;
}