<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>אלעד מנור</title>
  </head>
  <body dir="rtl">
    <header>
      <h1>היי 👋 כאן אלעד, ובאתי לספר לכם ש.. החיים הם קיר טיפוס!</h1>
      <p>המסע שלך מתחיל כאן. גלה עוד בהמשך!</p>
    </header>

    <nav>
      <a href="#my-speech">ההרצאה שלי</a>
      <a href="#about-me">קצת עליי</a>
      <a href="#contact-us">צור קשר</a>
    </nav>

    <div class="container">
      <section id="my-speech">
        <h2>ההרצאה שלי</h2>
        <div class="image-placeholder">
          <img src="static/img/climbing_wall.jpg" alt="Elad in Climbing Wall" />
        </div>
        <p>
          ההרצאה שלי היא הדרך שלי לפזר מודעות, הבנה, סבלנות, וידע על הספקטרום
          האוטיסטי ועל אלה שנמצאים בו. היא מורכבת ממידע יבש, הרבה הומור,
          אימפרוביזציה, שאלות ותשובות ועוד. המסר המרכזי שלה הוא מוטיבציונלי
          מטבעו, כדי לתת לאנשים אחרים תחושת מסוגלות להתגבר על הקשיים
          האינדיבידואליים שלהם, כמו שאני התגברתי (ועודני מתגבר) יום אחרי יום,
          צעד אחר צעד.
        </p>
        <p>
          ההרצאה מותאמת לכל אדם בכל גיל, מקצוע, מגדר, ודת (מכוונת לאלה שלא על
          הספקטרום ספציפית, מותאמת אישית לפי הזמנה). היא מעניקה תחושת מסוגלות,
          כיף, ידע, פרספקטיבה לתחום מעניין בקצה המזלג, ועוד הרבה אחרים.
        </p>
        <button>Watch More</button>
      </section>

      <section id="about-me">
        <h2>קצת עליי</h2>
        <div class="about-me">
          <div class="image-placeholder">
            <img src="static/img/elad_pic.jpg" alt="Elad pic" />
          </div>
          <div>
            <p>
              שלום, קוראים לי אלעד ואני בן 23, כיום מתנדב בצה"ל ומדריך טיפוס.
              אובחנתי על הרצף בגיל 15. אני מדבר על האוטיזם מנקודת המבט שלי ועל
              ההתמודדות היומיומית שלי עם האוטיזם. המטרה של ההרצאה היא להעלות את
              המודעות והכללה, אך גם לתת דוגמא ומוטיבציה לאנשים אחרים, בין אם על
              הספקטרום ובין אם לא.
            </p>
            <button>Read More</button>
          </div>
        </div>
      </section>

      <section id="contact-us">
        <h2>צור קשר</h2>
        <div class="contact-us">
          <div>
            <p>יש לכם שאלות או רוצים לשתף פעולה? מלאו את הטופס למטה😄 .</p>
            <form action="/send_email" method="POST">
              <input type="text" name="name" placeholder="השם שלך" required />
              <input type="email" name="email" placeholder="המייל שלך" required />
              <textarea name="message" placeholder="ההודעה שלך" rows="5" required></textarea>
              <button type="submit">שלח לי הודעה!</button>
            </form>
          </div>
          <div class="image-placeholder">
            <img
              src="static/img/elad_presentation.jpg"
              alt="elad_presentation"
            />
          </div>
        </div>
      </section>
    </div>

    <footer>
      <p>
        "האוטיזם הוא חלק ממני, אך הוא לא מגדיר את מי שאני. במקום להילחם נגדו,
        אני מבין שיש לי את הכוח להשפיע ולהתקדם בחיי"
      </p>
    </footer>
    <footer>&copy; החיים הם לא קיר טיפוס. כל הזכויות שמורות לאלעד מנור</footer>
  </body>
</html>
