<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>אלעד מנור - החיים הם קיר טיפוס</title>

    <!-- Link to SCSS file (Note: SCSS needs to be compiled to CSS) -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <!-- ===== BOX ICONS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>

  <body dir="rtl">
    <!-- ===== HEADER ===== -->
    <header class="l-header">
      <nav class="nav bd-grid">
        <div>
          <a href="#home" class="nav__logo">אלעד מנור</a>
        </div>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">בית</a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link">אודות</a>
            </li>
            <li class="nav__item">
              <a href="#presentation" class="nav__link">ההרצאה שלי</a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav__link">צור קשר</a>
            </li>
          </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-menu"></i>
        </div>
      </nav>
    </header>

    <main class="l-main" dir="rtl">
      <!-- ===== HOME ===== -->
      <section class="home bd-grid" id="home">
  <div class="home__img">
    <img
      class="home__image"
      src="{{ url_for('static', filename='img/climbing_wall.jpg') }}"
      alt="Climbing Wall"
    />
  </div>

  <div class="home__data">
    <h1 class="home__title">
      היי 👋<br />כאן אלעד,<br />
      ובאתי לספר לכם ש..<br />החיים הם קיר טיפוס.
    </h1>
    <a href="#contact" class="button">צרו איתי קשר 😄</a>
  </div>
</section>

      <!-- ===== ABOUT ===== -->
      <section class="about section" id="about">
        <h2 class="section-title">אודות</h2>

        <div class="about__container bd-grid">
          <div class="about__img">
            <img
              src="{{ url_for('static', filename='img/elad_pic.jpg') }}"
              alt="Elad2"
            />
          </div>
          <div dir="rtl">
            <h2>קצת עליי</h2>
            <p>שלום, קוראים לי אלעד ואני בן 23,</p>
            <p>כיום מתנדב בצה"ל ומדריך טיפוס.</p>
            <p>אובחנתי על הרצף בגיל 15.</p>
            <p>
              אני מדבר על האוטיזם מנקודת המבט שלי ועל ההתמודדות היומיומית שלי עם
              האוטיזם,
            </p>
            <p>
              המטרה של ההרצאה - להעלות את המודעות והכללה, אך גם לתת דוגמא
              ומוטיבציה לאנשים אחרים, בין אם על הספקטרום ובין אם לא .
            </p>
          </div>
        </div>
      </section>

      <!-- ===== My presentation ===== -->
      <section class="about section" id="presentation">
        <h2 class="section-title">ההרצאה שלי</h2>

        <div class="about__container bd-grid">
          <div class="about__img">
            <img
              src="{{ url_for('static', filename='img/elad_presentation.jpg') }}"
              alt="elad_presentation"
            />
          </div>
          <div>
            <h2 dir="rtl">ההרצאה שלי</h2>
            <p>
              ההרצאה שלי היא הדרך שלי לפזר מודעות, הבנה, סבלנות, וידע על
              הספקטרום האוטיסטי ועל אלה שנמצאים בו. היא מורכבת ממידע יבש, הרבה
              הומור, אימפרוביזציה, שאלות ותשובות ועוד. המסר המרכזי שלה הוא
              מוטיבציונלי מטבעו, כדי לתת לאנשים אחרים תחושת מסוגלות להתגבר על
              הקשיים האינדיבידואליים שלהם, כמו שאני התגברתי (ועודני מתגבר) יום
              אחרי יום, צעד אחר צעד. ההרצאה מותאמת לכל אדם בכל גיל, מקצוע, מגדר,
              ודת (מכוונת לאלה שלא על הספקטרום ספציפית, מותאמת אישית לפי הזמנה).
              היא מעניקה תחושת מסוגלות, כיף, ידע, פרספקטיבה לתחום מעניין בקצה
              המזלג, ועוד הרבה אחרים.
            </p>
          </div>
        </div>
      </section>

      <!-- ===== CONTACT ===== -->
      <section class="contact section" id="contact">
        <h2 class="section-title">צור קשר</h2>

        <div class="contact__container bd-grid">
          <form action="/send_email" method="POST" class="contact__form">
            <input
              type="text"
              name="name"
              placeholder="השם שלך*"
              class="contact__input"
              required
            />
            <input
              type="email"
              name="email"
              placeholder="המייל שלך*"
              class="contact__input"
              required
            />
            <textarea
              name="message"
              placeholder="ההודעה שלך*"
              class="contact__input"
              required
            ></textarea>
            <button type="submit" class="button">שלח לי הודעה 😄</button>
          </form>
        </div>
      </section>
    </main>

    <!-- ===== FOOTER ===== -->
    <footer class="footer">
      <p class="footer__title">אלעד מנור</p>
      <div class="footer__social">
        <a
          href="tel:+972548163607"
          class="footer__icon"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fas fa-phone"></i
        ></a>
      </div>
      <p class="lead">
        ".האוטיזם הוא חלק ממני, אך הוא לא מגדיר את מי שאני. במקום להילחם נגדו,
        אני מבין שיש לי את הכוח להשפיע ולהתקדם בחיי"
      </p>
    </footer>

    <!-- ===== SCROLL REVEAL ===== -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- ===== MAIN JS ===== -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
